{
  "host": "127.0.0.1",
  "port": 8144,
  "cacheTime": "20m",
  "cachePath": ".jr/cache/",
  "substitutePath": "./mock",
  "jrPort": 8030,
  "proxyTimeout": "30s",
  "rules": [
    {
      "url": ".+",
      "keepFresh": true
    },
    { // 静态文件配置
      "url": "^/static/(.*)$",
      "subs": "../dist/static/$1"
    },
    { // 缺省接口配置
      "url": "^/api/",
      "host": "member-control-panel-api.dd01.int",
      "port": 8000
    }
  ]
}
